
body{
    font-size: 20px;
    padding: 20px;
    margin-right: 25%;
    margin-left: 25%;
}

.bodyApp{
width: 800px;
background-color: rgb(233, 233, 233);
padding: 5px 25px 25px 25px;
}

.img-sch{
    margin-right: 350px;
}

input{
    width: 250px;
    height: 40px;
    font-size: 17px;
}

button{
    width: 150px;
    height: 30px;
}

.salary1, .salary2 {
    display: none;
}

.btn1, .btn2{
    background-color: rgb(98, 0, 255);
    color: white;
    width: 150px;
    height: 80px;
    font-size: 20px;
}

.btn1:hover, .btn2:hover{
    background-color: rgb(75, 0, 195);
}

.btnSend{
    background-color: rgb(245, 61, 29);
    width: 250px;
    height: 60px;
    font-size: 18px;
    color: white;
    margin-top: 20px;
    margin-bottom: 20px;
}

.btnSend:hover{
    background-color: rgb(209, 48, 20);


}

#date1, #date1A, #date2, #date2A{
    background-color: white;
    border: black solid 1px;
    padding-right: 10px;
}

#errorInput, #errorInput2{
    color: red;
    font-size: 20px;
}

.global-hr{
    width: 800px;
    height: 7px ;
    margin-top: -10px;
    background-color: rgb(98, 0, 255);
}

#date_today{
    text-align: left;
    padding: 10px 1px;
    font-size: 22px;
}

.printPage{
    margin-top: 20px;
    background-color: white;
    width: 120px;
    margin-right: 85%;
}

.printPage:hover{
    background-color: rgb(98, 0, 255);
    color: white;
}

#DateOfStartWork1, #DateOfStartWork2{
    margin-right: 17px;

}

#DateOfMassage1, #DateOfMassage2{
    margin-right: 7px;
}

.byMe{
    text-align: center;
    background-color: rgb(98, 0, 255);
    color: white;
    font-size: 15px;
    width: 850px;
}

.clearUnput{
    width: 100px;
    height: 60px;
    background-color: yellowgreen;
    font-size: 15px;
}

.clearUnput:hover{
    background-color: rgb(125, 173, 27);
}

/* accordion */
.accordion {
    background-color: rgb(98, 0, 255);;
    color: white;
    cursor: pointer;
    margin-top: 20px;
    padding: 10px;
    width: 100%;
    border: none;
    text-align: right;
    outline: none;
    font-size: 18px;
    transition: 0.4s;
    border: rgb(29, 29, 29) solid 1px;
    border-radius: 8px;
    padding-bottom: 30px;
    padding-right: 15px;
  }
  
  .active, .accordion:hover {
    background-color: rgb(194, 194, 194);
    color: rgb(98, 0, 255);
  }

  .panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
  }

  #company, #company2{
    width: 238px;
    height: 46px;
  }

  #showAllData{
      margin-top: 15px;
      padding: 10px;
      border: rgb(29, 29, 29) solid 1px;
  }

  .showData, .showData2{
      width: 100%;
      padding-top: 5px;
      padding-bottom: 5px;
      background-color: rgb(116, 34, 116);
      color: white;
      font-size: 17px;
  }

  .showData:hover, .showData2:hover{
    background-color: rgb(83, 17, 83);
  }


  #showAllData2{
    margin-top: 15px;
    padding: 10px;
    border: rgb(29, 29, 29) solid 1px;
}

.showData2{
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
}